
.wrapper {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  border: 2px dotted #999;
  box-sizing: border-box;
  border-radius: 10px;
}

.header {
  grid-column: 1 / 13;
  grid-row: 1;
}

.footer {
  grid-column: 1 / span 12;
  background-color: #3a3a3a;
  color: white;
  text-align: center;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.three {
  grid-column: 9 / span 2;
  grid-row: 2 / 4;
}

.three-zero {
  grid-column: 9 / span 2;
  grid-row: 4 / 7;
}

.three-one {
  grid-column: 1 / span 12;
  grid-row: 2;
  text-align: center;
}
.four {
  grid-column: 3;
  grid-row: 3;
}

.four-one {
  grid-column: 1 / span 12;
  grid-row: 3;
  text-align: center;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}


.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h3 {
    font-weight: bold;
    font-size: 1.5rem;
  }

  figure {
    justify-content: flex-end;
    margin: 0;
  }

  a {
    color:#4fabc3;
  }




  .container {
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .center {text-align: center;
  width: 100%}

    ul {
        margin: 50px 360px;
        list-style: none;
    }
    ul li {
        margin: 10px;
        display: inline-block;
    }
    ul li a {
        padding: 5px;
        display: inline-block;      
        border: 1px solid #f2f2f2;
    }
    ul li a img {
        width: 175px;
        height: 125px;
        display: block;
    }
    ul li a:hover img {
        transform: scale(1.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }


     nav {
      text-align: center;
    }
    nav ul {
      display: inline-block;
      list-style-type: none;
    
    }
    
    nav ul li {
      float: center;
      margin-right: 3em;
    }
  
    nav ul li a {
      padding: 0.9em 1.5em;
      text-decoration: none; /* no underline */
      background-color: rgb(0, 92, 128); /*fallback color*/
      background-color: rgba(3, 163, 223, .5); 
      color: black; /* light blue */
      border: 2px solid black;
    }
  
    nav ul li a:hover, nav ul li a:focus {
      color: black;
      background-color: white;
      font-weight: bold;
    }

    figure {align-content: center;
   }